/*CHARSEQUENCE*/
.charsequence {
  text-align: center;
  background-color: #fff;
  max-width: 720px;
  margin: 0px auto;
  border-radius: 4px;
  /*box-shadow: inset 1px 1px 4px #999;*/
  border: 1px solid #d6d6d6;
  font-size: 32pt;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 5px;
  padding-top: 5px;
  white-space: nowrap;
  position: relative;
  min-height: 73px;
  overflow: hidden;
}
.charsequence span {
  font-family: 'Roboto Mono', monospace;
}
.green {
  color: #4caf50;
}
.red {
  color: #f44336;
}
.normal {
  color: #424242;
}
/*.normal::first-letter {
  background-color: #d6d6d6;
}*/
.progress_sequence {
  font-family: 'Montserrat', sans-serif;
  color: #4caf50;
  margin-left: 10px;
}

/*KEYBOARD*/
.kb {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 2px #999;
  border: 1px solid #cfcfcf;
  position: relative;
}
@media screen and (max-width: 1200px) {

  .kb {
    margin-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .charsequence {
    font-size: 28px;
    min-height: 51px;
  }
}
@media screen and (max-width: 768px) {

  .charsequence {
    font-size: 20px;
    min-height: 40px;
  }
  .key {
    font-size: 10px;
  }
}
.keyboard {
  position: relative;
  width: 100%;
}
.key {
  position: absolute;
  background-color: #d6d6d6;
  border-radius: 4px;
  text-align: center;
  width: 6.04%;         /*total distance: 6.667%*/
  height: 18.125%;      /*total distance: 20%*/
  border: 1px solid #bbb;
  cursor: default;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.key::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.activekey {
  box-shadow: inset 0px 0px 6px #888;
  background-color: #aaa;
  transition: 0.055s;
}
.highlightkey {
  border: 2px solid #03a9f4;
  background-color: #accddc;
}
.highlightBlue {
  border: 2px solid #03a9f4;
  background-color: #accddc;
}
.highlightYellow {
  border: 2px solid #ffc107;
  background-color: #ded2ad;
}
.highlightRed {
  border: 2px solid #f44336;
  background-color: #dcb9b6;
}
.highlightGreen {
  border: 2px solid #00c853;
  background-color: #abd3bc;
}
.highlightPurple {
  border: 2px solid #673ab7;
  background-color: #c0b7d0;
}
.key-double {
  width: 12.707%;
}
.backspace {
  width: 13.329%;
}
.tab {
  width: 9.685%;
}
.enter {
  height: 38.125%;
  width: 8.435%;
}
.enter-us {
  width: 15.102%;
}
.capslock {
  width: 10.934%
}
.shift {
  width: 6.665%;
}
.shiftright {
  width: 19.371%;
}
.special {
  width: 7.29%;
}
.space {
  width: 52.39%;
}
.backslash {
  width: 9.678%;
}
.hud {
  position: absolute;
}

.kbdivider {    /* kb bc of conflict with bootstrap divider*/
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.divider-item-horizontal {
  position: absolute;
  background-color: #666;
  height: 0.625%
}
.divider-item-vertical {
  position: absolute;
  background-color: #666;
  width: 0.209%;
}




@keyframes slideRightIn {

  0% { opacity: 0;  margin-right: -50px; }
  100% { opacity: 1;  margin-right: 0; }
}
.slideRightIn {
  animation-name: slideRightIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.extraPanel {
  margin-top: 10px;
  padding: 5px 0px;
  background-color: #fcfcfc;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
.extraInfo {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 33%;
  text-align: center;
}
.extraInfoSmall {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 19.5%;
  text-align: center;
}

.back {
  font-size: 40px;
  position: absolute;
  left: 15px;
  top: 0px;
  display: inline;
  color: #aaa;
  cursor: pointer;
  transition: color 0.15s;
}
.back:hover {
  color: #777;
}

.settings {
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline;
}
.settings-icon {
  color: #aaa;
  transition: color 0.15s;
}
.settings-icon:hover {
  color: #777;
}
.settings-item {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {

  .extraInfo {
    font-size: 13px;
    width: 32%;
  }
  .extraInfoSmall {
    font-size: 13px;
    width: 18.5%;
  }
  .settings {
    font-size: 16px;
    top: 10px;
  }
  .back {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {

  .extraInfoSmall {
    font-size: 11px;
  }
  .extraInfo {
    font-size: 11px;
  }
}
