html * {
  outline: 0 !important;
  font-family: 'Open Sans', sans-serif;
}
::selection {background-color: #4fc3f7; color: #fff;}
::-moz-selection {background-color: #4fc3f7; color: #fff;}/*A0D9D3*/

/* NAVBAR */
.navbar {
  background-color: #03a9f4;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0;
  color: #f6f6f6 !important;
}

.navbar-toggle {
  float: left;
  margin-left: 10px;
	background-color: transparent !important;
	border: 0;
	transition: 0.2s;
}
.navbar-toggle:focus, .navbar-toggle:hover, .navbar-toggle:active {
	background-color: transparent !important;
}

.icon-bar {
	background-color: #fff !important;
}

.navbar-brand {
  color: #f6f6f6 !important;
  font-family: Arvo, serif;
  transition: 0.2s;
}
.navbar-brand:hover {
  color: #fff !important;
}
.navbar-nav > li > a {
  color: #f6f6f6 !important;
  transition: 0.25s;
  font-family: Arvo, serif;
}
#item-login  {
  background-color: #f2f2f2;
  color: #0288d1 !important;
}
#item-login:hover {
  background-color: #fff !important;
  color: #03a9f4 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #0288d1 !important;
}


/* ACCOUNT DROPDOWN */
.btn-account {
  background: url('/res/imgs/face.png') no-repeat;
  background-size: 36px 36px;
  background-position: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a
{
  background-color: #0288d1;
}
.item-email {
  color: #999 !important;
}
.item-email:hover {
  cursor: default;
}

.logo-part {
  font-family: Arvo, sans-serif;
  border: 2px solid #f2f2f2;
  padding: 1px 4px;
  border-radius: 3px;
  margin: 0px 0px;
}


/* FOOTER */
footer {
  background-color: #172232;
  color: #fff;
  padding: 20px 0px;
  min-height: 250px;
}
footer p, footer strong, footer li, footer a, footer div {
  font-family: Raleway, sans-serif;
}
.footer-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer-heading {
  font-size: 16px;
}
.footer-link {
  color: #f2f2f2 !important;
  font-size: 15px;
}
.footer-link:hover, .footer-link:focus {
  color: #fff !important;
  text-decoration: underline;
}


/* MAIN BUTTON*/
.btn-main {
  padding: 10px 0px;
  margin-bottom: 20px;
  background-color: #039be5 !important;
  transition: 0.1s;
  color: #fff !important;
  border-color: #999;
}
.btn-main:hover {
  background-color: #03a9f4 !important;
}
.btn-main:active {
  background-color: #29b6f6 !important;
}
.btn-main > span {
	cursor: pointer;
	position: relative;
	transition: 0.5s;
	transition-delay: 0.1s;
}
.btn-main > span::after {
	content: '»';
	position: absolute;
	right: -30px;
  bottom: 1px;
	opacity: 0;
	transition: 0.5s;
}
.btn-main:hover > span {
	padding-right: 15px;
}
.btn-main:hover > span::after {
	opacity: 1;
	right: 0;
}

.btn-simple {
  padding: 10px 0px;
  margin-bottom: 20px;
  background-color: #039be5 !important;
  transition: 0.15s;
  color: #fff !important;
  border-color: #999;
}
.btn-simple:hover {
  background-color: #03a9f4 !important;
}
.btn-simple:active {
  background-color: #29b6f6 !important;
}

/* OTHER USEFUL STUFF */
.back {
  position: static;
  font-size: 40px;
  display: inline;
  color: #aaa;
  cursor: pointer;
  transition: color 0.15s;
}
.back:hover, .back:focus {
  color: #777;
  text-decoration: none;
}
.gone {
  display: none;
}
.unselectableimg {
  pointer-events: none;
	user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.unselectable {
	user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.loader {
  border: 6px solid #f2f2f2;
  border-top: 6px solid #03a9f4;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 0.9s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-small {
  border: 3px solid #f2f2f2;
  border-top: 3px solid #aaa;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 4px 0px;
  animation: spin 0.9s linear infinite;
}

.feedback-panel {
  position: fixed;
  z-index: 99;
  bottom: 40px;
  left: -25px;
  background-color: #039be5;
  padding: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
  box-shadow: 0px 0px 4px #000;
  transition: background-color 0.25s;
}
.feedback-panel:hover {
  background-color: #29b6f6;
  cursor: pointer;
}
.feedback-panel:active {
  background-color: #03a9f4;
}

.notification {
  z-index: 99;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  color: #fff;
  padding: 16px 32px;
  font-size: 15pt;
  font-weight: bold;
}
.notification-info {
  background-color: #3273dc;
}
.notification-success {
  background-color: #23d160;
}
.notification-error {
  background-color: #cf0000;
}
.notification-close {
  position: absolute;
  right: 10px;
  margin-top: -6px;
  padding: 0px 10px;
  font-size: 20pt;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}
.notification-close:hover {
  color: rgba(255, 255, 255, 1.0);
}

#github-link {
  background-color: #f0f0f0;
}
#github-link > a {
  color: #333 !important;
}
#github-link:hover > a {
  background-color: #e0e0e0 !important;
}
#github-link > a::before {
  content: "";
  background-image: url("/res/imgs/github_logo.png");
  display: inline-block;
  width: 18px; height: 18px;
  background-size: contain;
  margin-right: 6px;
  margin-bottom: -3px;
}

.box-container {
  margin: 30px auto;
  box-shadow: 0px 1px 2px #999;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  overflow: hidden;
}
