body {
  width: 100%;
}

.btn-splash {
  display: inline-block;
  background-color: #ffd600;
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  font-family: Arvo, serif;
  padding: 14px 36px;
  border-radius: 3px;
  box-shadow: 0px 2px 3px #333;
  transition: 0.25s;
  position: relative;
  top: 40px;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}
.btn-splash:hover, .btn-splash:focus {
  color: #212121;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 3px 5px #333;
}
.btn-splash:active {
  text-decoration: none;
  box-shadow: 0px 2px 3px #333;
  margin-top: 1px;
}
.btn-splash:visited {
  color: #212121;
  text-decoration: none;
}
.btn-splash > span:first-child {
  width: 0%;
  height: 100%;
  background-color: #ffea00;
  position: absolute;
  top: 0;
  left: 50.5%;
  z-index: -1;
  transition: left 0.3s, width 0.3s, border-top-left-radius 0.3s, border-bottom-left-radius 0.3s;
  transition-timing-function: ease-out;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.btn-splash > span:last-child {
  width: 0%;
  height: 100%;
  background-color: #ffea00;
  position: absolute;
  top: 0;
  left: 49.5%;
  z-index: -1;
  transition: width 0.3s, border-top-right-radius 0.3s, border-bottom-right-radius 0.3s;
  transition-timing-function: ease-out;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.btn-splash:hover > span:first-child {
  left: 0;
  width: 50%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-splash:hover > span:last-child {
  width: 50%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.splash {
  position: fixed;
  z-index: -1;
  height: 85vh;
  min-height: 500px;
  width: 100%;
  background: url('../imgs/splash_index.jpg') bottom right no-repeat;
  background-size: cover;
}
.outercontainer {
  text-align: center;
  height: 85vh;
  min-height: 500px;
  width: 100%;
}
.splash_container {
  width: 100%;
  height: 100%;
  padding-top: 15%;
  padding-right: 30%;
  padding-left: 30%;
}
#splash_text {
  font-family: Arvo, serif;
  font-size: 32pt;
  color: #fff;
  text-shadow: 0px 0px 10px #000;
}
@media screen and (max-width: 1200px) {
  #splash_text {
    font-size: 28pt;
  }
  .splash_container {
    padding-top: 20%;
    padding-right: 10%;
    padding-left: 10%;
  }
  .splash {
    height: 80vh;
    min-height: 450px;
  }
  .outercontainer {
    height: 80vh;
    min-height: 450px;
  }
}
@media screen and (max-width: 768px) {
  #splash_text {
    font-size: 24pt;
  }
  .splash_container {
    padding-top: 25%;
    padding-right: 0%;
    padding-left: 0%;
  }
  .splash {
    height: 60vh;
    min-height: 350px;
  }
  .outercontainer {
    height: 60vh;
    min-height: 350px;
  }
  .btn-splash {
    padding: 10px 25px;
    font-size: 15px;
  }
}


@keyframes test {

  0% {opacity: 0;}
  24% {opacity: 0;}
  25% {opacity: 1;}
  74% {opacity: 1;}
  75% {opacity: 0;}
  100% {opacity: 0;}
}
#splash_text::after {
  content: "|";
  animation-name: test;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  text-shadow: none;
}


.img-preview {
  max-width: 500px;
  max-height: auto;
  border-radius: 8px;
  box-shadow: 0px 3px 10px #888;
  border: 1px solid #999;
}
@media screen and (max-width: 1200px) {
  .img-preview {
    max-width: 100%;
    max-height: auto;
  }
}
.btn-action {
  display: inline-block;
  background-color: #ffd600;
  color: #212121;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 36px;
  margin: 16px 5px;
  border-radius: 3px;
  border: 1px solid #ffd600;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
  box-shadow: 0px 2px 3px #888;
}
.btn-action:hover, .btn-action:focus {
  color: #212121;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 3px 5px #888;
}
.btn-action:active {
  text-decoration: none;
  box-shadow: 0px 2px 3px #888;
  margin-top: 17px;
  margin-bottom: 15px;
}
.btn-action:visited {
  color: #212121;
  text-decoration: none;
}
.btn-action > span:first-child {
  width: 0%;
  height: 100%;
  background-color: #ffea00;
  position: absolute;
  top: 0;
  left: 50.5%;
  z-index: -1;
  transition: left 0.3s, width 0.3s, border-top-left-radius 0.3s, border-bottom-left-radius 0.3s;
  transition-timing-function: ease-out;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.btn-action:hover > span:first-child {
  left: 0;
  width: 50%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.btn-action > span:last-child {
  width: 0%;
  height: 100%;
  background-color: #ffea00;
  position: absolute;
  top: 0;
  left: 49.5%;
  z-index: -1;
  transition: width 0.3s, border-top-right-radius 0.3s, border-bottom-right-radius 0.3s;
  transition-timing-function: ease-out;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.btn-action:hover > span:last-child {
  width: 51%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
