.regouter {
  min-height: 100vh;
}
.regcontainer {
  margin: 70px auto;
  padding: 80px 0px;
  box-shadow: 0px 1px 2px #999;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.form-group {
  width: 100%;
}
.form-group-small {
  width: 49.75%;
  display: inline-block;
}
@media screen and (max-width: 992px) {

  .form-group-small {
    width: 100%;
    display: block;
  }
}

.btn-register {
  width: 150px;
}

.success-outer {
  min-height: 100vh;
}
.success-container {
  margin-top: 70px;
  padding: 20px 20px;
  box-shadow: 0px 1px 2px #999;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}
