form {
  text-align: center;
  max-width: 480px;
  margin: 0px auto;
  background-color: #f2f2f2;
  padding: 40px 25px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #999;
  border: 1px solid #cfcfcf;
}
.btn-login {
  width: 100%;
}

@media screen and (max-width: 768px) {

  form {
    padding: 20px 15px;
  }
}
.hidden-submit {
    border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
