.lection-panel {
  background-color: #f2f2f2;
  display: inline-block;
  width: 75%;
  border-radius: 4px;
  border-top-left-radius: 0px;
  float: left;
  padding-top: 40px;
  box-shadow: 0px 1px 2px #999;
  z-index: 2;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #cfcfcf;
  overflow: hidden;
}
.lection-item {
  display: inline-block;
  width: 28%;
  height: 150px;
  background-color: #ffca28;
  border-radius: 4px;
  margin-left: 4%;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
  float: left;
  border: 1px solid #bbb;
}
.lection-num {
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 21px;
  font-family: Lato, sans-serif;
}
.lection-title {
  font-size: 17px;
  color: #fff;
  font-family: Montserrat;
}
.lection-title-small {
  font-size: 15px;
  color: #f2f2f2;
  font-family: Montserrat;
}

.lection-footer {
  display: inline-block;
  background-color: #ffc107;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 14px 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.lection-link {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  border: 2px solid #fff;
  padding: 4px 10px;
  border-radius: 4px;
  transition: 0.15s;
}
.lection-link:hover {
  color: #ffc107;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
}

.lection-item-add {
  display: inline-block;
  width: 28%;
  height: 150px;
  background-color: #d6d6d6;
  border-radius: 4px;
  margin-left: 4%;
  margin-bottom: 30px;
  padding-top: 45px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  transition: 0.25s;
  position: relative;
  box-shadow: inset 0px 1px 2px #444;
  cursor: pointer;
  float: left;
}
.lection-item-add:hover {
  background-color: #ccc;
  color: #f2f2f2;
  box-shadow: inset 0px 1px 4px #333;
}
.lection-item-add:active {
  box-shadow: inset 0px 1px 6px #333;
}
.lection-options {
  position: relative;
  text-align: right;
  font-size: 16px;
  padding-top: 5px;
  padding-right: 8px;
}
.lection-options-icon {
  color: #d6d6d6;
  transition: color 0.15s;
}
.lection-options-icon:hover {
  color: #fff;
}

.lection-item a {
  text-decoration: none;
}




.extra-panel {
  background-color: #f2f2f2;
  display: inline-block;
  width: 24%;
  border-radius: 4px;
  float: right;
  box-shadow: 0px 1px 2px #999;
  border: 1px solid #cfcfcf;
  padding: 10px;
  margin-bottom: 20px;
}
.circle-container {
  padding: 10px 40px;
}
@media screen and (max-width: 1200px) {
  .circle-container {
    padding: 10px 2px;
  }
}

@media screen and (max-width: 992px) {

  .container {
    width: 100%;
  }
  .lection-item {
    width: 41%;
    margin-left: 6%;
  }
  .lection-item-add {
    width: 41%;
    margin-left: 6%;
  }
}
@media screen and (max-width: 768px) {

  .lection-panel {
    width: 100%;
  }
  .extra-panel {
    width: 100%;
  }
  .lection-item {
    width: 88%;
    margin-left: 6%;
  }
  .lection-item-add {
    width: 88%;
    margin-left: 6%;
  }
}

.lection-nav {
  display: inline-block;
  background-color: #ddd;
  box-shadow: 0px 1px 2px #999;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: default;
  margin-bottom: -1px;
}
.nav-item {
  display: inline-block;
  background-color: #ddd;
  padding: 10px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transition: 0.15s;
  color: #666;
  font-family: Arvo, serif;
  border: 1px solid transparent;
  border-bottom: 0;
}
.nav-item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
  color: #000;
  border: 1px solid #cfcfcf;
  border-bottom: 0;
  position: relative;
  z-index: 3;
}
.item-active {
  background-color: #f2f2f2;
  color: #000;
  border: 1px solid #cfcfcf;
  border-bottom: 0;
  position: relative;
  z-index: 3;
}
.item-active:hover {
  cursor: default;
}

.btn-training {
  width: 100%;
}

@keyframes slideRightIn {

  0% { opacity: 0.7;  margin-left: 350px; margin-right: -350px; }
  100% { opacity: 1; margin-left: 0; margin-right: 0; }
}
.slideRightIn {
  animation-name: slideRightIn;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}
@keyframes slideLeftIn {

  0% { opacity: 0.7;  margin-right: 350px; margin-left: -350px; }
  100% { opacity: 1; margin-right: 0; margin-left: 0; }
}
.slideLeftIn {
  animation-name: slideLeftIn;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}



/* Test-Version Info Box */
.test-info-box {
  background-color: #00b0ff;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  color: white;
  box-shadow: 0px 1px 3px #666;
}
.test-info-box > h5 {
  font-family: 'Arvo', serif;
  margin-top: 0px;
}
